/*font magic*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
/* topbar nav stuf */
.topb {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #222;
}
/* frosted glas */
.fglassdark {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blue(10px); /*safari support*/
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 8px 32px0 rgba(100, 100, 100, 0.4);
  border-radius: 10px
}


.topb a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topb a:hover {
  background-color: #ddd;
  color: black;
}

.topb a.active {
  background-color: #0062ff;
  color: white;
}

/* page content */
.content {
  padding: 16px;
}
/* skibbity phone viewport */
img {
    max-width: 100%;
}
