/*font magic*/
.h1 {
  font-family: Arial, Hevletica, sans-serif;
}

.p {
  font-family: Arial, Hevletica, sans-serif;
}

.p1 {
  font-family: Arial, Hevletica, sans-serif;
}

.a {
  font-family: Arial, Hevletica, sans-serif;
}


/* topbar nav stuf */
.topb {
  background-color: #333333;
  overflow: hidden;
}

.topb a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topb a:hover {
  background-color: #ddd;
  color: black;
}

.topb a.active {
  background-color: ##0062ff;
  color: white;
}

/* Style the navbar */
#topb {
  position: sticky;
  top: 0;
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#topb a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}
