@font-face {
    font-family: 'Kalam';
    src: url('files/fonts/kalam/Kalam-Regular.woff2') format('woff2'),
        url('files/fonts/kalam/alam-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalam';
    src: url('files/fonts/kalam/Kalam-Bold.woff2') format('woff2'),
        url('files/fonts/kalam/Kalam-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kalam';
    src: url('files/fonts/kalam/Kalam-Light.woff2') format('woff2'),
        url('files/fonts/kalam/Kalam-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@keyframes diagonal-slide {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 64px 64px;
    }
}




ul {
    list-style-type: none; /*remove the skibid ballpoint */
    margin: 0;
    padding: 0;
  }

body {
    background-image: url("files/betterbackdrop.jpg");
    background-repeat: repeat; /*we want it to repeat so it moves*/
    background-size: cover;      
    background-attachment: fixed;
    animation: diagonal-slide 10s linear infinite;
    padding:10px
}
main {
    padding: 10px;
    font-family: 'Kalam'
}
.nav{ /*navigation magick*/
    position: sticky;
    top: 0;
    overflow: hidden;
    font-family: 'Kalam'
}
.nav a{
    float: left;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color:white
}
.nav a:hover{
    background-color: #4aa9ff;
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.45);

}
.dfrost{ /*frosted glass dark */
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.45);
    padding: 20px;
    color:white
}
